doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
	body

		- var isShowBaidu = isShowBaidu === 2 ? true : false
		if isShowBaidu
			a(href="https://www.baidu.com") 百度
			img(src="/favicon/967159858664354308780861.ico")
		each item in list
			div= item.text