<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 上传
	body
	form(action="/api/upload", method="post", enctype="multipart/form-data")
		input(type="file" name="logo")
		button(type="submit") 提交